{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    Patient Tracking | Patients
{% endblock %}

{% block content %}

<section style="padding: 70px;" class="shadow">
    <div class="container">
        <div class="row my-row">
            <div class="col-sm-6 col-md-2 hidden-xs hidden-sm">
                <img src="{% static 'website/images/about.jpg' %}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-12 col-md-10">
                <div class="about-des">
                    <h3 class="bordered bordered-2 border-bottom bordered-primary">Registered Patients List</h3>
                    <h5>Register a patient to meet the doctor and keep track of medical records <a href="{% url 'patient_tracking:patients-create' %}" class="thm-btn">Register New Patient</a></h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">First Name</th>
                                    <th scope="col" class="text-nowrap">Last Name</th>
                                    <th scope="col" class="text-nowrap">Date of Birth</th>
                                    <th scope="col" class="text-nowrap">Gender</th>
                                    <th scope="col" class="text-nowrap">Phone Number</th>
                                    <th scope="col" class="text-nowrap">Email</th>
                                    <th scope="col" class="text-nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for patient in object_list %}
                                    <tr>
                                        <td class="text-nowrap">{{patient.first_name}}</td>
                                        <td class="text-nowrap">{{patient.last_name}}</td>
                                        <td class="text-nowrap">{{patient.date_of_birth}}</td>
                                        <td class="text-nowrap">{{patient.gender}}</td>
                                        <td class="text-nowrap">{{patient.phone_number}}</td>
                                        <td class="text-nowrap">{{patient.email}}</td>
                                        <td class="text-nowrap">
                                            <a href="{% url 'patient_tracking:patients-edit' patient.id %}" class="btn btn-default">
                                                <i class="fa fa-pencil"></i> Edit
                                              </a>
                                            <a href="{{patient.get_absolute_url}}" class="btn btn-primary">
                                              <i class="fa fa-eye"></i> View
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <h3>0 records</h3>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}